
/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	margin: 0;
	/* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline;
	/* Improves appearance and consistency in all browsers */
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
	outline: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 10px 20px;
	background: #464d4d;
	border: 1px solid #464d4d;
	color: white;
	text-transform: uppercase;
	font-weight: 900;
	cursor: pointer;
	/* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button;
	/* Corrects inability to style clickable 'input' types in iOS */
}
@media screen and (max-width: 767px) {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		padding: 5px 10px;
	}
}
button:hover, button:focus, button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
	background: #e06d5e;
}
button:hover, button:focus, button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
	border-color: #e06d5e;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	/* Addresses excess padding in IE8/9 */
	margin: 0 5px 0 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	/* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
	/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	/* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 10px;
	width: 100%;
	background: #f1f2f3;
	border: 1px solid #f1f2f3;
}
@media screen and (max-width: 767px) {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		padding: 5px;
	}
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	background: white;
}

textarea {
	overflow: auto;
	/* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top;
	/* Improves readability and alignment in all browsers */
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
label[class*="radio"], label[class*="checkbox"] {
	margin-bottom: 0;
	font-size: 0.73em;
	font-weight: normal;
}

/* Search from */
.search-form {
	position: relative;
	margin-bottom: 20px;
}
.search-form label {
	display: block;
	margin: 0;
}
.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
}
.search-form .search-submit:after {
	content: "\f400";
	display: inline-block;
	width: 1em;
	height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1em;
	line-height: 1;
	font-family: 'Genericons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

/* Password protected posts from */
.post-password-form label {
	display: block;
	margin-bottom: 0;
}
.post-password-form input[type="password"] {
	margin: 10px 0;
}
